body {
    color: #ffffff;
    background-color: #000000;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 450%;
    text-transform: uppercase;
    color: #ffffff;

}

p {
    color: #7c0808;
    font-weight: 500;
    font-size: 115%;
}

picture {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #181818;
}

#footer {
    color: #ffffff;
    font-weight: 600;
    font-size: 110%;
    font-style: italic;
    text-align: center;
}